/* ---------------- Index Page ---------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 46px;
}

/* .whole-page {
  display: flex;
  flex-direction: column;
  flex-basis: 1;
} */

a:hover {
  text-decoration: underline !important;
}

/* a:visited {
  color: #609;
} */

.header .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
}

.MenuItems {
  display: flex;
  list-style: none;
  align-items: center;
  height: 48px;
  padding: 6px;
  /* justify-content: flex-end; */
}

.MenuItems li {
  margin: 5px 10px;
  font-size: 13px;
}

.MenuItems .MenuIcon {
  max-width: 24px;
}

.MenuItems a {
  text-decoration: none;
  color: black;
}

.main .container {
  margin: 0 0 20px;
  min-height: 100%;
}

.main .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main img {
  margin-top: 40px;
  max-width: 274px;
  margin-bottom: 20px;
}

.main .input-box {
  min-width: 560px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  height: 44px;
  margin-bottom: 18px;
  padding: 0 47px;
}

.main .input-box:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #c6c6c6;
  color: #222;
}

.main .input-box:focus {
  outline: none;
}

.main .fas.fa-search {
  position: absolute;
  color: #9aa0a6;
  font-size: 14px;
  line-height: 44px;
  margin-left: 14px;
}

.main .fas.fa-microphone {
  position: absolute;
  color: #9aa0a6;
  font-size: 14px;
  line-height: 44px;
  margin-left: -24px;
}

.main .input-button {
  display: flex;
  justify-content: center;
}

.main .input-button button {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5f6368;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
}

.main .input-button button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #222;
}

.main .main-footer {
  margin-top: 10px;
}

.main .main-footer p {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-90%);
  font-size: small;
  line-height: 28px;
}

.main .main-footer a {
  position: absolute;
  left: 52%;
  font-size: small;
  line-height: 28px;
  text-decoration: none;
  color: #1a0dab;
}

.main .main-footer a:hover {
  text-decoration: underline;
}

footer .container {
  background-color: #f2f2f2;
  height: 46px;
  min-width: 100%;
  position: absolute;
  bottom: 0;
}

footer .row {
  display: flex;
  justify-content: space-between;
}

.footer-items-1 {
  display: flex;
  list-style: none;
  flex-basis: 35%;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 10px;
}

.footer-items-2 {
  display: flex;
  list-style: none;
  flex-basis: 20%;
  justify-content: space-evenly;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: #5f6368;
  line-height: 46px;
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  .main .input-box {
    min-width: 360px;
  }

  .main .main-footer a {
    left: 55%;
  }

  footer .row {
    display: flex;
    justify-content: space-between;
  }

  .footer-items-1 {
    display: flex;
    list-style: none;
    flex-basis: 60%;
    justify-content: space-evenly;
    align-items: center;
  }

  .footer-items-2 {
    display: flex;
    list-style: none;
    flex-basis: 40%;
    justify-content: space-evenly;
    align-items: center;
  }
}

/* ---------------- Image Page ---------------- */

.main .row.image-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 110px;
}

.main .google-image {
  max-width: min-content;
  max-height: min-content;
}

.main .google-image img {
  position: relative;
  margin: 0;
}

.main .google-image span {
  color: #4285f4;
  font: 16px/16px roboto-regular, arial, sans-serif;
  position: relative;
  white-space: nowrap;
  left: 79%;
  top: -21px;
}

.main .fas.fa-search.image-page.search1 {
  position: absolute;
  color: #9aa0a6;
  font-size: 14px;
  line-height: 44px;
  margin-left: 14px;
}

.main .fas.fa-camera.image-page {
  position: absolute;
  color: #9aa0a6;
  font-size: 14px;
  line-height: 44px;
  margin-left: -84px;
}

.main .fas.fa-microphone.image-page {
  position: absolute;
  color: #9aa0a6;
  font-size: 14px;
  line-height: 44px;
  margin-left: -54px;
}

.main .fas.fa-search.image-page.search2 {
  position: absolute;
  color: #4285f4;
  font-size: 14px;
  line-height: 44px;
  margin-left: -29px;
  cursor: pointer;
}

.main .input-box.image-page {
  padding: 0 90px 0 47px;
}

.header.advanced-page .container {
  justify-content: space-between;
  background: #f1f1f1;
  padding: 0 30px 0 15px;
}

/* ---------------- Advanced Page ---------------- */

.main .hline {
  border-bottom: 1px solid #ebebeb;
  display: inline-block;
  min-width: 100%;
  /* margin-top: 80px; */
}

.main .row.advanced {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: center; */
}

.main .row.advanced .appbar {
  color: #d93025;
  font-size: 20px;
  margin: 25px 45px;
}

.main .options {
  margin: 40px 25px 0px 45px;
  width: 100%;
}

.main .options .options-title {
  width: 100%;
  font-size: 16px;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.main .options .options-title div:nth-child(2) {
  display: inline-block;
  min-width: 167px;
  min-height: 41px;
  vertical-align: middle;
  width: 48%;
}

.main .options .options-title span:nth-child(3) {
  font-size: 13px;
  color: #777777;
  font-weight: 700;
  margin-right: 250px;
}

.main .options .options-elements {
  font-size: 13px;
}

.main .options .options-elements .elements {
  display: flex;
  align-items: center;
  margin: 15px 0;
  flex-flow: row;
  height: 25px;
}

.main .options .options-elements label {
  width: 182px;
}

.main .options .options-elements input {
  border-radius: 1px;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  font-size: 13px;
  height: 25px;
  padding: 1px 8px;
  width: 554px;
}

.main .options .options-elements input:focus {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  border: 1px solid #4d90fe;
  outline: none;
}

.main .options .options-elements .elements-end {
  margin-left: 12px;
}

.main .options .options-elements .elements-end {
  color: #555;
  font-size: 11px;
}

.main .options .options-elements .elements-end span {
  color: #666;
  font-family: monospace;
  font-size: 11px;
  white-space: pre;
}

.main .options .options-elements button {
  box-shadow: none;
  background-color: #4d90fe;
  border: 1px solid #3079ed;
  color: #fff;
  user-select: none;
  line-height: 100%;
  height: 30px;
  min-width: 120px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  outline: 0;
}

.main .options .options-elements button:hover {
  background-color: #357ae8;
  background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
  border: 1px solid #2f5bb7;
  border-image: initial;
}

.main .options .options-elements button:focus {
  box-shadow: inset 0 0 0 1px #fff;
  border: rgba(0, 0, 0, 0) solid 1px;
  outline: rgba(0, 0, 0, 0) 0;
}

.main .options .options-elements .elements-submit {
  display: flex;
  margin: 22px 0;
  flex-flow: row;
  height: 25px;
  align-items: center;
}

.main .options .options-elements .elements-submit div:nth-child(2) {
  display: flex;
  min-width: 167px;
  min-height: 41px;
  width: 43.3%;
  align-items: center;
  justify-content: flex-end;
}

.main .options .baseline {
  margin: 18px 0;
  clear: both;
  border-top: 1px solid #ebebeb;
  width: 1140px;
}

.main .more {
  display: flex;
  flex-direction: column;
  margin: 0px 25px 60px 45px;
}

.main .more .more-links {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
}

.main .more .more-links a {
  font-size: 13px;
  line-height: 18px;
  cursor: pointer;
  text-decoration: none;
}

.footer-items {
  display: flex;
  list-style: none;
  flex-basis: 20%;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 10px;
}
